<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/elastacloud/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="elastacloud" />
            <add key="ClearTextPassword" value="287d115b96a662c2e71cbf818fd18b85fe1d8543" />
        </github>
    </packageSourceCredentials>
</configuration>